<header id="mocha-head" class="header">
  <div class="background-image"></div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="logo">
          <a href="?c=Index&a=index"><img src="./Public/Home/Images/logo.png" alt="Mocha"></a>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="?c=Index&a=Index">首页</a></li>
            <li><a href="?c=Index&a=showList">博文目录</a></li>
            <li><a href="page.html">图片</a></li>
            <li><a href="portfolio.html">关于我</a>
            </li>
          </ul>

        </nav>
      </div>
    </div>
    <div class="row">
      <div class="span12 teaser">
        <h2>文君博客网</h2>
        <p>来吧，一起傻笑！</p>
      </div>
    </div>
  </div>
</header>
